{# src/Codebender/LibraryBundle/Resources/views/Default/newLibForm.html.twig #}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        <i>{{ flashMessage }}</i>
    </div>
{% endfor %}

{{ form(form) }}